
.navbar{
    height:50px;
    width: 100%;
    background-color:rgb(241, 237, 237) ;
display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navbar-i{
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;

}



.mb-3{

    align-items: center;
}


.form-control2{
    background-color: aquamarine;
    height: 50px;
    width:100px;

}
.container{

    justify-content: center;
}



.btn-primary{

    background-color: aqua;
}

.btn-text{
    background-color: rgb(87, 151, 241);
}

.navbar{
    background-color: black;
}
